# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual env
.venv/
venv/

# Logs / outputs
actores/log_actor_*.txt
actores/*.out
*.log
*.pid

# Env (secretos)
.env
!.env.example

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
